# ==========================
# Backend
# ==========================

PORT=

# MySQL
DATABASE_URL=mysql://DATABASE_USER:DATABASE_PASSWORD@DATABASE_HOST:DATABASE_PORT/DATABASE_NAME

# JWT
JWT_SECRET=supersecretkey
JWT_EXPIRES_IN=1d

# ==========================
# Seed Admin
# ==========================
ADMIN_EMAIL=
ADMIN_PASSWORD=
ADMIN_NAME=

# ==========================
# Seed Bot
# ==========================
BOT_EMAIL=bot@mail.com
BOT_PASSWORD=NO_LOGIN
BOT_NAME=Assistant
YANDEX_KEY_ID=
YANDEX_API_KEY=
YANDEX_MODEL_URI=
AI_PROVAIDER=

# ==========================
# Global Chat
# ==========================
SYSTEM_GROUP_KEY=SYSTEM_GROUP_KEY

# ==========================
# Frontend
# ==========================
VITE_API_URL=http://localhost:5000/api
VITE_SOCKET_URL=http://localhost:5000