# =====================================
# Root env, structure
# =====================================
.env
STRUCTURE.md


# =====================================
# Backend
# =====================================
backend/node_modules
backend/dist
backend/*.log
backend/*.local
backend/build
backend/src/generated/prisma


# =====================================
# Frontend
# =====================================
frontend/node_modules
frontend/dist
frontend/dist-ssr
frontend/*.local
frontend/logs
frontend/*.log
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*
frontend/pnpm-debug.log*
frontend/lerna-debug.log*


# =====================================
# OS / IDE
# =====================================
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?