# =====================================
# Root env, structure
# =====================================
.env
STRUCTURE.md

# =====================================
# Backend
# =====================================
backend/node_modules
backend/dist
backend/*.log
backend/*.local
backend/build
backend/src/generated/prisma

# =====================================
# Frontend
# =====================================


# =====================================
# OS / IDE
# =====================================
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?